<p *ngIf="errorMessage.length!=0" class="text-danger">{{errorMessage}}</p>
<div *ngIf="(userLoginOn && !editMode) || !userLoginOn">
    <p><b> Email: </b> {{user?.email}} </p>
    <p><b> tel: </b> {{user?.tel}}</p>
    <button *ngIf="userLoginOn && !editMode" (click)="editMode=true"  class="btn btn-dark"><img
        src="https://cdn.icon-icons.com/icons2/1572/PNG/96/3592815-compose-create-edit-edit-file-office-pencil-writing_107734.png"
        width="8%" alt="editar" />Editar Datos Personales</button>
</div>

<form *ngIf="userLoginOn && editMode" [formGroup]="registerForm" >
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
        <input type="text" formControlEmail="email" class="form-control" id="inputEmail">
        
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">
                    El Email es requerido.
                </div>

            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputTel" class="col-sm-1 col-form-label">Telefono</label>
        <div class="col-sm-11">
        <input type="text" formControlTel="Tel" class="form-control" id="inputTel">
        <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="text-danger">
            <div *ngIf="tel.errors?.['required']">
                El Telefono es requerido.
            </div>
        </div>
    </div>
    </div>
    <button type="submit" (click)="savePersonalDetailsData()"  class="btn btn-dark mt-3">Guardar</button>
    <a class="btn btn-danger mt-3" (click)="editMode=false">Cancelar</a>
</form>
